header {
  margin: 1rem auto;
  text-align: center;
}

#styling {
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
  width: 90%;
  box-shadow: 0px 0px 10px black;
}

.box {
  width: 320px;
  height: 150px;
  border: 3px dashed #000000;
  margin: 10px auto;
  display: grid;
  place-items: center;
}

.box2 {
    font-weight: bold;
    color: red;
}

.active {
  background: rgb(28, 239, 255);
  background: linear-gradient(
    137deg,
    rgba(28, 239, 255, 1) 26%,
    rgba(159, 251, 137, 1) 77%
  );
}
